

.Home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}


.update-delete-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}