@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');


.Home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: 'Inknut Antiqua', serif;
}

button {
  font-size: larger;
  padding: 1vh 1vw;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
}

.head-logged-in {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.reg-login-button {
  font-family: 'Inknut Antiqua', serif;
}


.update-delete-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
  font-family: 'Istok Web', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  border: none;
  background-color: rgb(214, 214, 214);
  margin: 0;
}

.booksWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eachBookWrap {
  margin: 2vw;
  padding: 2vw;
  background-color: rgb(196, 255, 251);
  text-align: center;
  font-family: 'Domine', serif;
  border-radius: 3px;
}

.line-seperation {
  margin: 0;
  padding: 0;
  width: 0px;
  border-left: 1px solid gray;
  height: 80%;
}

.edit-user {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  border-top: 5px dashed black;
}